.navbar {
    background-color: #052748; 
    color: white; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 10px 40px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.navbar-logo {
    font-size: 1.5em; 
    font-weight: bold;
}

.navbar-links a {
    color: white;
    text-decoration: none; 
    margin: 0 15px; 
    padding: 5px 0;
    transition: color 0.3s; 
    
}
s
.navbar-links a:hover {
    color: #4da6ff; 
}

.navbar-actions {
    display: flex;
    align-items: center;
}


.language-selector {
    background-color: #4da6ff; 
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.search-form {
    display: flex;
    align-items: center;
    border: 1px solid white; 
    border-radius: 5px;
    background-color: transparent;
    margin-right: 10px;
    padding: 5px; 


.search-input {
    background-color: transparent;
    border: none;
    color: white; 
    padding: 3px 5px; 
    outline: none; 
    width: 120px;
}