:root {
  --primary-color: #2c3e50;
  --accent-color: #3498db;
  --bg-color: #ffffff;
  --text-color: #333;
  --font: 'Roboto', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
}

.Navbar {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--primary-color);
  position: relative;
  justify-content: space-between;
}


.logo a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

.menu ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.menu ul a{
    text-decoration: none;
    color: white;
}